.notificationsBox {
  margin-right: 30px;
  width: 80%;
  height: 415px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.currentNotifications {
  width: 90%;
}

.pastNotifications {
  margin-top: 21px;
  width: 90%;
}

.notificationsSectionHeadline {
  font-style: normal;
  font-weight: 656;
  font-size: 16px;
  line-height: 19px;
}