.headerContainer {
    height: 150px;
    width: 100%;
    flex-shrink: 0;
    background-color: #463ABD;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logoSection {
    display: flex;
    margin-left: 15px;
    margin-bottom: 25px;
    width: 50%;
    height: 100%;
    align-items: center;
}

.logo {
    width: 493px;
}

.profileSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center ;
    width: 50%;
    height: 100%;
    right: 0;
}

.profilePicture {
    margin-right: 30px;
    margin-left: 15px;
    width: 80px;
    height: 80px;
}

.profileText {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    color: white;
}